/*-- scss:uses --*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: 'Roboto Slab', 'Roboto', sans-serif !default;
$presentation-font-size-root: 36px;
$font-weight-base: 300 !default;

// colors
// $body-color: #222 !default;
$body-bg: #fdfdfa !default;
$body-color: #1b1b1b !default;
$presentation-heading-color: #111 !default;
// $presentation-heading-color: #2525b4 !default;
$selection-bg: lighten($presentation-heading-color, 10%) !default;
$selection-color: $body-bg !default;

// headings
$presentation-heading-font: 'Roboto Slab', sans-serif !default;
$presentation-heading-font-weight: 400 !default;
$presentation-title-slide-text-align: left !default;

/*-- scss:rules --*/
.reveal .footer > p {
  text-align: right;
  margin-right: 2rem;
  font-size: 1.5rem;
}

.reveal h1, .reveal h2 {
  text-transform: uppercase;
}